<VirtualHost *:80>
    DocumentRoot {{ APPWEBROOT }}

    ServerName Symfony
    ServerAlias Symfony

    # used for http basic auth and oauth2 bearer token
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

    SetEnv SYMFONY__DATABASE__USER {{ dbuser }}
    SetEnv SYMFONY__DATABASE__PASSWORD {{ dbpassword }}

    <Directory {{ APPWEBROOT }}>
        AllowOverride all
        Require all granted
        DirectoryIndex app.php
    </Directory>
    <Directory /usr/lib/cgi-bin>
        Require all granted
    </Directory>

    ErrorLog /var/log/apache2/{{ appname }}.error.log
    CustomLog /var/log/apache2/{{ appname }}.access.log combined
</VirtualHost>
